pkgbase = mpp-git
	pkgdesc = Rockchip VPU Media Process Platform (MPP) for hardware video decode latest revision from git
	pkgver = 1.0.4.r3472.fdeb8c37
	pkgrel = 3
	url = https://github.com/rockchip-linux/mpp
	install = install
	arch = x86_64
	arch = aarch64
	arch = arm7h
	license = Apache
	makedepends = cmake
	depends = gcc-libs
	depends = coreutils
	depends = udev
	provides = rockchip-mpp=1.0.4.r3472.fdeb8c37
	provides = mpp=1.0.4.r3472.fdeb8c37
	conflicts = rockchip-mpp
	conflicts = mpp
	options = !lto
	options = strip
	source = git+https://github.com/rockchip-linux/mpp.git#branch=develop
	source = 60-mpp.rules
	source = install
	sha256sums = SKIP
	sha256sums = 05c4e6bf492d982db968e4f0a679634688c08c295f975a884cb2a4b12c65ab86
	sha256sums = e41004dc18f77d37b23f84464c4367c7ccf94d8e86b6f751437b685322e153d2

pkgname = mpp-git
